.results {
    display: flex;
    flex-direction: column;
    background: #FFF;
    border: 2px solid #c9c2c2;
    padding: 20px;
}

.results__item {
    margin-bottom: 10px;
}

.results__btn {
    margin-left: 10px;
    margin-left: 10px;
    padding: 5px 10px;
    border: 2px solid #c9c2c2;
    background: white;
    border-radius: 4px;
    
}

.results__btn_disabled {
opacity: 0.5;
}

@media screen and (max-width: 576px) {
    .results {
        padding: 20px;
    }
    .results ul {
        padding-left: 10px;
    }
}